<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.demos.web.mapper.UserMapper">
    <sql id="BaseColumnList">
        id, username, password, nickname, email, create_time, update_time
    </sql>

    <!-- 新增 -->
    <insert id="insert" parameterType="com.example.demo.demos.web.pojo.User">
        INSERT INTO user (username, password, nickname, email, create_time, update_time)
        VALUES (#{username}, #{password}, #{nickname}, #{email}, #{createTime}, #{updateTime})
    </insert>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.example.demo.demos.web.pojo.User">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据ID查询 -->
    <select id="selectById" resultType="com.example.demo.demos.web.pojo.User">
        SELECT <include refid="BaseColumnList"/> FROM user WHERE id = #{id}
    </select>

    <!-- 根据用户名查询 -->
    <select id="selectByUsername" resultType="com.example.demo.demos.web.pojo.User">
        SELECT <include refid="BaseColumnList"/> FROM user WHERE username = #{username}
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.example.demo.demos.web.pojo.User">
        SELECT <include refid="BaseColumnList"/> FROM user
    </select>
</mapper>